<canvas id="canvas" width="750" height="500" (mousedown)="myDown($event)" (mouseup)="myUp($event)" (mousemove)="myMove($event)"></canvas>

<div class="vertical">
    <input type="range" [value]="rects[2].y" #rangeVal3 class="range3" name="points" min="0" max="500" step="1" (input)="drawOnChange('y',2,$event.target.value)">
    <input type="range" [value]="rects[1].y" #rangeVal2 class="range2" name="points" min="0" max="500" step="1" (input)="drawOnChange('y',1,$event.target.value)">
    <input type="range" [value]="rects[0].y" #rangeVal1 class="range1" name="points" min="0" max="500" step="1" (input)="drawOnChange('y',0,$event.target.value)">
</div>
<div class="horizontal">
    <input type="range" [value]="rects[0].x" #rangeVal4 class="range1" name="points" min="0" max="750" step="1" (input)="drawOnChange('x',0,$event.target.value)">
    <input type="range" [value]="rects[1].x" #rangeVal5 class="range2" name="points" min="0" max="750" step="1" (input)="drawOnChange('x',1,$event.target.value)">
    <input type="range" [value]="rects[2].x" #rangeVal6 class="range3" name="points" min="0" max="750" step="1" (input)="drawOnChange('x',2,$event.target.value)"></div>

    